.flex-action-pane {
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.flex-vis-pane {
    background-color: whitesmoke;
    flex-grow: 0;
    max-height: 1000px;
}

.flex-code-pane {
    flex-grow: 1;
    height: 100%;
    max-height: 1000px;
}

.menu-item {
    position: relative;
    cursor: pointer;
    overflow: visible;
    display: table;
    height: auto;
    width: 100%;
    padding: 0 24px 0 24px;
}
