### Webstorm IDE files
../.idea/code.iml
.idea
out
gen

### SublimeText files
# cache files for sublime text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache

# workspace files are user-specific
*.sublime-workspace


### npm dependency files
# https://docs.npmjs.com/misc/faq#should-i-check-my-node-modules-folder-into-git
node_modules

### build files
public/build
*.map

### other
.DS_Store
*.log
.sass-cache


