.d3-root {
    flex: 1 1 auto;
    border: 1px solid red;
}

.function-node {
    border: 1px solid red;
    fill: white;
    stroke: black;
    stroke-width: 2px;
}

.function-link {
    stroke: #999;
    stroke-width: 3px;
    stroke-opacity: 1;
}

.function-heading {
    cursor: pointer;
    font-size: 1rem;
}

circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
}
