//set up to work with gulp-css-globbing to import all the partials
@import '../reactComponents/**/*.scss';
html,
body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}