.d3-root {
    // border: 5px solid darkblue;
}

.function-node {
    fill: lightgray;
    stroke: white;
    stroke-width: 2px;
}

.fixed {
    stroke: blue;
}

.function-link {
    stroke: darkgrey;
    stroke-width: 1px;
}

.builtin-link {
    stroke: grey;
    stroke-width: 1px;
}

.function-hover {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    fill: blue;
}

.function-name {
    font-family: Roboto;
    cursor: default;
    font-size: 1em;
}

.function-heading {
    font-family: Roboto;
    cursor: default;
    font-size: 0.85em;
    fill: blue;
}

.function-text {
    font-family: Roboto;
    cursor: default;
    font-size: 0.8em;
    fill: black;
}

.tooltip {
    position: absolute;
    text-align: center;
    width: 200px;
    height: 190px;
    word-wrap: break-word;
    z-index: 10;
    overflow: hidden;
    padding: 2px;
    font: 12px sans-serif;
    background: lightsteelblue;
    border: 0px;
    border-radius: 8px;
    pointer-events: none;
}
