.d3-root {
    border: 5px solid darkblue;
}

.function-node {
    fill: lightgray;
    stroke: white;
    stroke-width: 2px;
}

.fixed {
    stroke: blue;
}

.function-link {
    stroke: #999;
    stroke-width: 3px;
    stroke-opacity: 1;
}

.function-hover {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    fill: blue;
}

.function-name {
    cursor: default;
    font-size: 1em;
}

.function-heading {
    cursor: default;
    font-size: 0.85em;
    fill: blue;
}

.function-text {
    cursor: default;
    font-size: 0.8em;
    fill: black;
}
