.d3-root {
    border: 5px solid darkblue;
}

.function-node {
    fill: white;
    stroke: black;
    stroke-width: 2px;
}

.function-link {
    stroke: #999;
    stroke-width: 3px;
    stroke-opacity: 1;
}

.function-hover {
    cursor: pointer;
    width: 1rem;
    height: 1rem;
    fill: blue;
}

.function-name {
    cursor: default;
    font-size: 1em;
}

.function-heading {
    cursor: default;
    font-size: 0.85em;
    fill: blue;
}

.function-text {
    cursor: default;
    font-size: 0.8em;
    fill: black;
}

circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
}
