.d3-root {
    border: 2px solid blue;
}

.function-node {
    cursor: pointer;
    border: 1px solid red;
    fill: white;
    stroke: black;
    stroke-width: 2px;
}

.function-link {
    stroke: #999;
    stroke-width: 3px;
    stroke-opacity: 1;
}

.function-name {
    font-size: 1em;
}

.function-heading {
    font-size: 0.85em;
    fill: blue;
}

.function-text {
    font-size: 0.7em;
    fill: black;
}

circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
}
