@mixin scale($factor) {
    -webkit-transform: scale($factor);
    -moz-transform: scale($factor);
    -ms-transform: scale($factor);
    -o-transform: scale($factor);
    transform: scale($factor);
}

@mixin transition($seconds) {
    -ms-transition: $seconds ease-in-out;
    -o-transitionn: $seconds ease-in-out;
    transition: $seconds ease-in-out;
}
@mixin transition-scale($seconds) {
    -ms-transition: transform $seconds ease-in-out;
    -o-transitionn: transform $seconds ease-in-out;
    transition: transform $seconds ease-in-out;
}

@mixin crossfade($seconds) {
    -moz-transition: color $seconds ease-in;
    -o-transition: color $seconds ease-in;
    -webkit-transition: color $seconds ease-in;
}

@mixin draw-forwards($seconds) {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash $seconds linear forwards;
}

.no-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.link {
    stroke-width: 1px;
    opacity: 0.8;
}

.link-calling {
    @include transition(0.5s);
    stroke: $color-primary;
}

.link-returning {
    stroke: $color-secondary;
}

.link-broken {
    stroke: $color-failure;
}

.function {
    stroke-width: 2px;
    cursor: pointer;
}

.function-fixed {
    fill: white !important;
    stroke-width: 2px;
}

.returning {
    opacity: 0.8;
    @include transition(0.5s);
    fill: $color-secondary;
    stroke: $color-secondary;
}

.function-failure {
    fill: $color-failure;
    stroke: $color-failure;
    @include transition(1s);
}

.function-warning {
    @include transition(1s);
    @extend .warning;
}

.function-text {
    white-space: nowrap;
    font-size: 0.9rem;
    transition: font-size 0.1s cubic-bezier(0.4, 0, 1, 1);
}

.update-text-shrink {
    white-space: nowrap;
    font-size: 0;
}

.update-text-blur {
    white-space: nowrap;
    color: transparent;
    text-shadow: black 0 0 10px;
}

.function-root {
    @include transition(1s);
}

.finish-text {
    color: whitesmoke;
    font-size: 1.5rem;
    text-shadow: 0 0 1px whitesmoke;
    width: 135px;
    margin-top: -20px;
    margin-left: 20px;
}

.finished {
    opacity: 1;
    @include transition-scale(3s);
    @include scale(15);
}

.success {
    stroke: $color-success;
    fill: $color-success;
}

.normal {
    opacity: 0.8;
    fill: $color-primary;
    stroke: $color-primary;
}

.neutral {
    stroke: $color-neutral;
    fill: $color-neutral;
}

.notice {
    stroke: $color-notice;
    fill: $color-notice;
}

.warning {
    stroke: $color-warning;
    fill: $color-warning;
}

.failure {
    stroke: $color-failure;
    fill: $color-failure;
}

.text-indent {
    text-indent: 1.5rem;
}

.transparent {
    opacity: 0.6;
}
