@mixin scale($factor) {
    -webkit-transform: scale($factor);
    -moz-transform: scale($factor);
    -ms-transform: scale($factor);
    -o-transform: scale($factor);
    transform: scale($factor);
}

@mixin transition($seconds) {
    -ms-transition: $seconds ease-in-out;
    -o-transitionn: $seconds ease-in-out;
    transition: $seconds ease-in-out;
}

@mixin crossfade($seconds) {
    -moz-transition: color $seconds ease-in;
    -o-transition: color $seconds ease-in;
    -webkit-transition: color $seconds ease-in;
}

@mixin draw-forwards($seconds) {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash $seconds linear forwards;
}

.no-transition {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -o-transition: none !important;
    -ms-transition: none !important;
    transition: none !important;
}

.link {
    stroke-width: 1px;
    opacity: 0.8;
}

.link-calling {
    @include transition(1s);
    stroke: $color-primary;
}

.link-returning {
    stroke: $color-secondary;
}

.link-broken {
    stroke: $color-failure;
}

.function {
    stroke-width: 2px;
    cursor: pointer;
    opacity: 0.8;
}

.function-fixed {
    fill: white !important;
    stroke-width: 2px;
}

.returning {
    @include transition(0.5s);
    fill: $color-secondary;
    stroke: $color-secondary;
}

.function-failure {
    fill: $color-failure;
    stroke: $color-failure;
    @include transition(1s);
}

.function-warning {
    @include transition(1s);
    @extend .warning;
}

.function-text {
    white-space: nowrap;
}

.function-root {
    @include crossfade(3s);
    @include transition(3s);
}

.finished {
    @include transition(3s);
    @include scale(4);
}

.success {
    stroke: $color-success;
    fill: $color-success;
}

.normal {
    stroke: $color-primary;
    fill: $color-primary;
}

.neutral {
    stroke: $color-neutral;
    fill: $color-neutral;
}

.warning {
    stroke: $color-warning;
    fill: $color-warning;
}

.failure {
    stroke: $color-failure;
    fill: $color-failure;
}

.text-indent {
    text-indent: 1.5rem;
}

.transparent {
    opacity: 0.6;
}
