.link-calling {
    stroke: $color-primary;
    stroke-width: 1px;
}

.link-returning {
    stroke: $color-secondary;
    stroke-width: 1px;
}

.function-calling {
    fill: $color-primary;
    stroke: white;
    stroke-width: 2px;
}

.function-fixed {
    stroke: $color-secondary;
    fill: white;
    stroke-width: 2px;
}

.function-returning {
    fill: $color-secondary;
    stroke: white;
    stroke-width: 2px;
}
