.flex-action-pane {
    display: flex;
    justify-content: left;
    flex-direction: row;
}

.flex-vis-pane {
	flex-grow: 0;
//	max-height: 1000px;
    border: 2px solid red;
}

.flex-code-pane {
	flex-grow: 1;
	height: 100%;
 //   max-height: 1000px;
    border: 2px solid red;
}
